@{
    ViewBag.Title = "UPCNET Principal";
    Layout = "~/Views/_Layout.cshtml";
}

    <h1><center> Bienvenido!</center></h1>
    <div>
        <ul>
           <li>@Html.ActionLink("Lista de Alumnos", "Alumnos")
            
        </ul>
        
    </div>
